---
import Cta from '../components/cta.astro';
import Heart from '../components/heart.astro';
import Voice from '../components/voice.astro';
import Layout from '../layouts/Layout.astro';

const seo = {
    // title: 'Astro Boilerplate - Home',
    // description: 'A minimal and powerful Astro boilerplate for fast web development.',
    // social: {
    //     facebook: {
    //         title: 'Astro Boilerplate - Facebook',
    //         description: 'A minimal starter built with Astro. Fast, clean and scalable.',
    //         image: {
    //             url: '/cover-home.jpg' // You can change this path if you have a different image
    //         }
    //     },
    //     twitter: {
    //         creator: '@anas_dev',
    //         title: 'Astro Boilerplate - Twitter',
    //         description: 'Start fast with this clean Astro boilerplate.',
    //         image: {
    //             url: '/cover-home.jpg'
    //         }
    //     }
    // },
    // advanced: {
    //     robots: ['index', 'follow'],
    //     canonical: 'https://yourdomain.com/' // replace with your real domain
    // }
};
---

<Layout title="Home" seo={seo}>
    <section class="container max-w-5xl pb-15">
        <div
            class="h-[90dvh] min-h-150 flex flex-col items-center justify-center gap-5 duration-200 text-center"
        >
            <Heart />
            <h1 class="text-6xl xs:text-7xl leading-[0.95] font-light max-w-150 px-3 duration-150">
                Never miss me again
            </h1>
            <p class="max-w-100 text-center text-black/60 text-base xs:text-lg mb-4 px-3">
                Built for my lovely girl, she's that person that means everything
            </p>
            <Cta />
        </div>

        <h2 class="w-full text-center mx-auto px-5 text-2xl xs:text-4xl font-light mt-10 mb-10">
            To the sun & the back
        </h2>
        <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-4">
            <Voice src="/audios/fcku.mp3" text="Wake up">
                <svg
                    class="w-10 h-10 fill-orange-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M8 14q.425 0 .713-.288T9 13t-.288-.712T8 12t-.712.288T7 13t.288.713T8 14m4 0q.425 0 .713-.288T13 13t-.288-.712T12 12t-.712.288T11 13t.288.713T12 14m4 0q.425 0 .713-.288T17 13t-.288-.712T16 12t-.712.288T15 13t.288.713T16 14m-4 8q-1.875 0-3.512-.712t-2.85-1.925t-1.925-2.85T3 13t.713-3.512t1.924-2.85t2.85-1.925T12 4t3.513.713t2.85 1.925t1.925 2.85T21 13t-.712 3.513t-1.925 2.85t-2.85 1.925T12 22M5.6 2.35L7 3.75L2.75 8l-1.4-1.4zm12.8 0l4.25 4.25l-1.4 1.4L17 3.75z"
                    ></path></svg
                >
            </Voice>
            <Voice src="/audios/fcku.mp3" text="Wake up">
                <svg
                    class="w-10 h-10 fill-orange-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M8 14q.425 0 .713-.288T9 13t-.288-.712T8 12t-.712.288T7 13t.288.713T8 14m4 0q.425 0 .713-.288T13 13t-.288-.712T12 12t-.712.288T11 13t.288.713T12 14m4 0q.425 0 .713-.288T17 13t-.288-.712T16 12t-.712.288T15 13t.288.713T16 14m-4 8q-1.875 0-3.512-.712t-2.85-1.925t-1.925-2.85T3 13t.713-3.512t1.924-2.85t2.85-1.925T12 4t3.513.713t2.85 1.925t1.925 2.85T21 13t-.712 3.513t-1.925 2.85t-2.85 1.925T12 22M5.6 2.35L7 3.75L2.75 8l-1.4-1.4zm12.8 0l4.25 4.25l-1.4 1.4L17 3.75z"
                    ></path></svg
                >
            </Voice>
            <Voice src="/audios/fcku.mp3" text="Wake up">
                <svg
                    class="w-10 h-10 fill-orange-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <path
                        d="M8 14q.425 0 .713-.288T9 13t-.288-.712T8 12t-.712.288T7 13t.288.713T8 14m4 0q.425 0 .713-.288T13 13t-.288-.712T12 12t-.712.288T11 13t.288.713T12 14m4 0q.425 0 .713-.288T17 13t-.288-.712T16 12t-.712.288T15 13t.288.713T16 14m-4 8q-1.875 0-3.512-.712t-2.85-1.925t-1.925-2.85T3 13t.713-3.512t1.924-2.85t2.85-1.925T12 4t3.513.713t2.85 1.925t1.925 2.85T21 13t-.712 3.513t-1.925 2.85t-2.85 1.925T12 22M5.6 2.35L7 3.75L2.75 8l-1.4-1.4zm12.8 0l4.25 4.25l-1.4 1.4L17 3.75z"
                    ></path></svg
                >
            </Voice>
        </div>
    </section>

    <footer class="mt-30 mb-50">
        <div class="container max-w-5xl">
            <div class="h-[0.05rem] w-4/10 bg-black/10 rounded-full mx-auto"></div>
            <p class="text-center text-sm text-black/50 max-w-120 mx-auto px-4 mt-5">
                Designed & Built by<br />
                The most luckiest man in earth
            </p>
        </div>
    </footer>
</Layout>
