---
import '../styles/main.css';
import { SEO } from 'astro-seo';
import { defaultSeo } from '../data/seo';
import { getSeo } from '../utils/seo';
import Heart from '../components/heart.astro';
import Cta from '../components/cta.astro';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

const FONTS: string[] = [
    // 'WebfontRegular.woff2',
    // 'WebfontBold.woff2',
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        <!-- Fonts -->
        {
            FONTS.map((font) => (
                <link
                    rel="preload"
                    href={`/fonts/${font}`}
                    as="font"
                    type="font/woff2"
                    crossorigin
                />
            ))
        }
        <!--/ FONTS -->
    </head>
    <body>
        <header class="pointer-events-none fixed w-full top-2.5 left-0 z-999 px-2">
            <nav class="flex justify-between items-center px-4 xs:px-3 py-2 rounded-full bg-black/5 backdrop-blur-lg">
                <div class="flex items-center w-fit scale-60 origin-left xs:scale-90 duration-150">
                    <Heart />
                </div>
                <!-- <Cta /> -->
                 <div class="relative w-fit h-fit flex items-center pointer-events-auto group">
                     <div class="relative w-9 h-9 rounded-full bg-[#252525] hover:bg-zinc-700 duration-150 shadow-md"></div>
                     <div class="absolute -translate-x-1/2 group-hover:translate-x-0.5 w-8 h-8 rounded-full bg-white duration-150 shadow-md"></div>
                 </div>
            </nav>
        </header>
        <main id="swup" class="transition-fade relative w-full min-h-[100dvh] overflow-hidden">
            <slot />
        </main>
        <script src="../scripts/app.ts"></script>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
